body {
    font: 16px Sans-Serif;
}

header {
    position: fixed;
    width: 100%;
}

section {
    padding: 80px 30px 0px 30px;
}

html, body {
    height: 100%;
    margin: 0;
}

.btn-radius {
    border-radius: 20px;
}
