* {
    box-sizing: content-box;
}

body {
    font: 16px Sans-Serif;
}

section {
    padding: 80px 30px 0px 30px;
}

footer {
    background-color: #212529;
    color: white;
}

.logo {
    padding-left: 10px;
}

.github {
    padding: 15px;
}

html, body {
    height: 100%;
    margin: 0;
}
