* {
    box-sizing: content-box;
}

body {
    font: 16px Sans-Serif;
}

header {
    position: fixed;
    width: 100%;
    background: gray;
    color: white;
}

section {
    padding: 80px 0px 0px 0px;
}

footer {
    background: gray;
    color: white;
    bottom: 0;
}

.logo{
    padding: 10px;
}

.github {
    padding: 15px;
}

html, body {
    height: 100%;
    margin: 0;
}
