.custom-border-bottom
{
	border-bottom: 2px solid;
	border-bottom-color: #9d0af5;
}

#mainNav
{
	background-color: transparent;
	border-bottom: 0;
}

@media (max-width: 500px)
{
	#mainNav
	{
		background-color: transparent;
		border-bottom: 0;
	}

		#mainNav .navbar-toggler
		{
			border: 0;
		}

	.nav-mobile-bg
	{
		background-color: #505050ed;
		padding-left: 20px;
	}
}

.chip
{
	display: inline-block;
	color: white;
	margin: 5px;
	padding: 0px 25px;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	border-radius: 25px;
	background-color: #808080;
}